<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Usuarios</title>
</head>
<body>
    <%- include('inputs/nav'); %>
    <h1>Usuarios</h1>
    <ul>
        <% usuarios.map(function(item){ %>
            <li><%= item.nombres %> <%= item.apellidos %></li>
        <% }) %>
        
    </ul>
</body>
</html>